/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #bbbbbb;
}

/* Header */
header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

header h1 {
    margin: 0;
    color: #f0a500;
}

/* Introducción */
.intro {
    padding: 50px;
    text-align: center;
    font-size: 50px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Galería de proyectos */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.project {
    background-color: #333333;
    padding: 15px;
    border-radius: 10px;
    width: calc(40% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
    text-align: center;
    font-size: 30px;
    color: #f0a500;
}

/* Contenedor de imagen y video */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.container img,
.container video {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

/* Enlaces */
.link {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    color: #f0a500 !important;
    text-decoration: none;
}

a.link {
    color: #f0a500;
    text-decoration: none;
}

/* Contacto */
.contact {
    padding: 50px;
    text-align: center;
    background-color: #282828;
}

.contact h2 {
    font-size: 40px;
    color: #f0a500;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    cursor: pointer;
}

.logos img {
    max-width: 50px;
    min-width: 50px;
    border-radius: 10px;
}

.logos img:hover {
    transform: scale(1.4);
}

/* Footer */
footer {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    color: #777777;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 15px;
        font-size: 25px;
    }

    .intro {
        font-size: 25px;
        padding: 20px;
        background-size: contain;
    }

    .projects {
        padding: 20px;
    }

    .project {
        width: 90%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container img,
    .container video {
        width: 90%;
        max-width: 350px;
        height: auto;
        border-radius: 5px;
        object-fit: contain;
    }

    .contact {
        padding: 30px;
    }

    .contact h2 {
        font-size: 30px;
    }

    .logos {
        gap: 15px;
    }

    .logos img {
        max-width: 40px;
        min-width: 40px;
    }

    footer {
        padding: 5px;
    }
}