/* Genric */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 20px;
    color: #bbbbbb;
    flex-grow: 1
}

/* Header */
header {
    background-color: #282828;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 40px;
}

header h1 {
    margin: 0;
    color: #f0a500;

}

/* Intro */
.intro {
    padding: 50px;
    text-align: center;
    font-size: 50px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: white;

}

.intro h2 {
    font-size: 80px;
}

.intro a {
    color: orange;
    font-size: 45px;
}

/* Galery projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 15px;
}

.project {
    background-color: #333333;
    margin: 1px;
    padding: 15px;
    border-radius: 10px;
    width: calc(30% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 550;
}

.project video {
    width: 100%;
    border-radius: 1px;
}

.project h3 {
    font-size: 40px;
    color: #f0a500;
}

.project p {
    font-size: 30px;
    color: white;
    ;
    flex-grow: 1
}

/* Contact */
.contact {
    padding: 50px;
    text-align: center;
    background-color: #282828;
}

.contact h2 {
    font-size: 40px;
    color: #f0a500;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.logos img {
    max-width: 80px;
    min-width: 50px;
    border-radius: 10px;
}

.logos img:hover {
    transform: scale(1.4);
}

/* footer */
footer {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    color: #777777;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 20px;
        font-size: 24px;
    }

    header h1 {
        font-size: 28px;
    }

    .intro {
        padding: 30px;
        font-size: 20px;
    }

    .intro a {
        font-size: 20px;
    }

    .projects {
        padding: 30px;
        gap: 10px;
    }

    .project {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
        height: auto;
    }

    .project h3 {
        font-size: 24px;
    }

    .project p {
        font-size: 18px;
    }

    .contact {
        padding: 15px;
    }

    .contact h2 {
        font-size: 24px;
    }

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        cursor: pointer;
    }

    .logos img {
        max-width: 30px;
        min-width: 20px;
        border-radius: 10px;
    }

}